@mixin buttonStyleMin
    color: $colorText
    background: none
    text-transform: uppercase
    text-decoration: none
    font-size: $fontSizeButtonMin

    &:hover
        color: $colorTextG
        transition: 0.5s

@mixin buttonStyle
    @include buttonStyleMin
    color: $colorTextG
    border: 1px solid $colorTextG
    border-radius: 5%
    padding: 0.4em 0.8em
    font-size: $fontSizeButtonMax
    
.custom-button, .page-link
    @include buttonStyle

.page-link-minimal
    @include buttonStyleMin

.page-link, .custom-button
    &:hover
        background: $colorTextG
        color: $colorBlackBgAlt
        transition: 0.5s