.page-link
    border: 1px solid lightgray
    border-radius: 5%
    padding: 0 1em
    color: lightgray
    text-transform: uppercase
    text-decoration: none

.page-link-minimal
    padding: 0 1em
    color: lightgray
    text-transform: uppercase
    text-decoration: none

.custom-button
    border: 1px solid lightgray
    border-radius: 5%
    padding: 0.2em 1em
    color: lightgray
    text-transform: uppercase
    background: none
