#certificate-wrapper
    display: grid
    grid-template-columns: auto 1fr
    grid-template-rows: auto auto
    margin: 0 auto

    #image-wrapper
        display: grid
        align-self: center
        padding: 0 1.2em 0 0

    #certificate-details
        display: grid
        padding: 0
        justify-items: start

        li
            list-style: none

    #view-certificate-button
        display: grid
        grid-column: 1 / span 2
        margin: 0.5em 2.5em 0.2em 2.5em
        padding: 0.2em 0 0 0
        border-top: 1px solid $colorText
        font-size: $fontSizeButtonMin