.education-wrapper
    display: grid
    grid-template-columns: auto 1fr
    grid-template-rows: 1fr
    margin: 0 auto

    .image-wrapper
        display: inherit
        grid-column: 1
        justify-self: center
        align-self: center
        padding-right: 1.2em

    .education-details
        display: inherit
        grid-column: 2
        justify-self: start
        align-self: center
        padding: 0
        
        li
            list-style: none
            justify-self: start

