#header
    display: grid
    grid-row: 1
    grid-template-columns: 40% 1fr
    width: 100%
    height: 100%
    background: $colorBlackBg

    .header-background
        display: none

    #logo
        margin: 0 auto
        height: initial
    
    .logo-full
        display: none

    .logo-mobile
        max-height: 100%
        padding-bottom: 0.5vmin

    // MOBILE
    @media screen and (max-width: $tablet - 1)
        background: none !important
        
        p 
            margin: 0

    // TABLET
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) and (min-height: $tablet)
        grid-template-columns: minmax(250px, 35vw) auto
        grid-template-rows: 1fr
    
    // DESKTOP
    @media screen and (min-width: $desktop) and (max-width: $widescreen - 1)
        background: none
        grid-row: 1
        grid-column: 2

        .logo-mobile
            display: none

    // WIDE DESKTOPS
    @media screen and (min-width: $widescreen)
        background: none
        grid-template-columns: minmax(80px, 8vw) 1fr
        grid-row: 1
        grid-column: 1 / span 2

        .header-background
            display: block
            grid-column: 1
            background: $colorBlackBg

        .logo-mobile
            display: none

    // LANDSCAPE (MOBILE, TABLET, DESKTOP)
    @media screen and (max-height: 770px) and (orientation: landscape)
        background: none
        grid-template-columns: minmax(65px, 6vw) 1fr
        grid-row: 1
        grid-column: 1 / span 2

        .header-background
            display: block
            grid-column: 1
            background: $colorBlackBg

        .logo-mobile
            position: absolute
            padding: 0
            max-height: 10vmin
            transform: translate(-40%, 20%)