#header
    display: grid
    grid-row: 1
    grid-template-columns: 40% 1fr
    width: 100%
    height: 100%
    background: $colorBlackBg

    .header-background
        display: none

    #logo
        margin: 0 auto
        height: inherit
    
    .logo-full
        display: none

    .logo-mobile
        max-height: 100%
        padding-bottom: 0.5vmin

    // MOBILE
    @media screen and (max-width: $tablet - 1)
        background: none !important
        
        p 
            margin: 0

    // TABLET
    /* Header min-width hardocoded to 590px due to it breaking between 580 and 590px of device width. */ 
    @media screen and (min-width: 590px) and (max-width: $desktop - 1) and (min-height: $tablet)
        grid-template-columns: minmax(250px, 35vw) auto
        grid-template-rows: 1fr

        #logo
            height: 100%
            z-index: 2
    
    // DESKTOP
    @media screen and (min-width: $desktop) and (max-width: $widescreen - 1)
        background: none
        grid-row: 1
        grid-column: 2

        .logo-mobile
            display: none
        
        .logo-full
            display: grid
            width: 75vh
            margin: 1em !important
            transform: translateX(-75px)

    // WIDE DESKTOPS
    @media screen and (min-width: $widescreen)
        background: none
        grid-template-columns: minmax(80px, 8vw) 1fr
        grid-row: 1
        grid-column: 1 / span 2

        #logo
            height: initial

        .header-background
            display: block
            grid-column: 1
            background: $colorBlackBg

        .logo-mobile
            display: grid
            position: absolute
            margin: 1em 0 !important
            width: 35vh
            left: 60px

        .logo-full
            display: none

    // LANDSCAPE (MOBILE, TABLET, DESKTOP)
    @media screen and (max-height: 770px) and (orientation: landscape)
        background: none
        grid-template-columns: minmax(65px, 6vw) 1fr
        grid-row: 1
        grid-column: 1 / span 2

        #logo
            height: initial

        .header-background
            display: block
            grid-column: 1
            background: $colorBlackBg

        .logo-mobile
            position: absolute
            padding: 0
            max-height: 10vmin
            transform: translate(-40%, 20%)