.work-project
        display: inherit
        grid-template-rows: repeat(3, max-content) auto max-content
        justify-items: center

        .project-title
            display: grid
            grid-row: 1
            margin: 1em 0
            align-self: start
            height: min-content

        .project-thumbnail
            grid-row: 2
            width: 100%
            height: auto
            margin: 0 1em
            justify-self: center
            border: 1px solid $colorTextG

        .project-description
            margin: auto !important

        ul.project-links
            grid-row: 3
            list-style: none
            padding: 0
            margin: 0.6em 0
            align-self: center

            li
                display: inline
                text-transform: uppercase
                padding: 0 0.5em
                margin: 0 0.5em

                &.project-origin
                    text-transform: none
        
        .click-for-more
            grid-row: 5
            margin: 0.5em
            height: fit-content
            align-self: end
        
        .more-details-wrapper
            position: relative
            width: 100%
            height: auto

            .more-details
                position: absolute
                background: $colorBlackBg
                width: 100%

                .status-type, .challenges
                    text-align: left

                .status-type>li 
                    list-style: none
            
        // TABLET
        @media screen and (min-width: $tablet) and (max-width: $desktop - 1) and (min-height: $tablet)
            // margin: 0 1em 2em
