#about-page-wrapper
    display: grid
    grid-template-rows: auto 1fr

    #story-wrapper
        grid-row: 1
        margin: 0.6em

    #cv-wrapper
        display: grid
        grid-row: 2
        grid-template-rows: repeat(6, auto)
        margin: 0.6em

        #button-wrapper
            justify-items: center


        
        