#contact-page-wrapper
    display: grid
    padding: 1em
    justify-content: center
    
    p
        justify-self: start
        align-self: end
        margin: 1em 0

    #form-wrapper
        display: grid
        grid-template-rows: auto auto

        #input-wrapper
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: repeat(4, auto)
            grid-gap: 0.3em

            #input-name
                grid-row: 1
                grid-column: 1 / span 2

            #input-email
                grid-row: 2
                grid-column: 1 / span 2
            
            #input-subject
                grid-row: 3
                grid-column: 1 / span 2

            #input-message
                grid-row: 4
                grid-column: 1 / span 2

        #submit-wrapper
            margin: 1em

    #contact-details-wrapper
        display: none
        justify-self: start
        align-self: center
        text-align: left
        border-left: 1px solid lightgrey
        padding-left: 5%
        margin-left: 5%
        
        #contact-details
            list-style: none
            margin: 0
            padding: 0
    
    // DESKTOP
    @media screen and (min-width: $desktop) and (max-width: $widescreen - 1)
        grid-template-columns: 60% 40%

        #form-wrapper
            grid-column: 1

        #contact-details-wrapper
            display: grid
            grid-column: 2



