#contact-page-wrapper
    display: grid
    grid-template-columns: 1fr
    padding: 1em 2em
    justify-content: center
    
    p
        justify-self: start
        align-self: end
        margin: 1em 0

    #contact-wrapper
        display: grid
        grid-template-rows: auto 1fr
        grid-template-columns: 1fr
        width: 100%
        align-self: start

        #contact-form
            display: grid
            grid-template-rows: 1fr auto auto
            align-self: end
            width: 100%

            #input-wrapper
                display: grid
                grid-template-columns: 1fr 1fr
                grid-template-rows: repeat(4, auto)
                grid-gap: 0.3em

                #input-name
                    grid-row: 1
                    grid-column: 1 / span 2

                #input-email
                    grid-row: 2
                    grid-column: 1 / span 2
                
                #input-subject
                    grid-row: 3
                    grid-column: 1 / span 2

                #input-message
                    grid-row: 4
                    grid-column: 1 / span 2

            #submit-wrapper
                margin: 1em

        #contact-details-wrapper
            grid-row: 1
            justify-self: start
            align-self: end
            text-align: left
            border-left: 1px solid lightgrey
            padding-left: 1em

            h4
                margin: 0 0 1em 0
            
            #contact-details
                list-style: none
                margin: 0
                padding: 0.5em 0 0.5em 0


        // TABLET
        @media screen and (min-width: $tablet) and (max-width: $desktop - 1) and (min-height: $tablet)
            padding: 0 3em

        //DESKTOP
        @media screen and (min-width: $desktop)
            grid-template-columns: 60% 40%
            grid-template-rows: 1fr
            padding: 0 1em

            #contact-form
                grid-column: 1

            #contact-details-wrapper
                display: grid
                grid-column: 2
                margin: 0 0 3.6em 1em

                h4
                    margin: 1em 0



