#home-page-wrapper
    display: grid
    grid-template-columns: 30% 1fr

    @media screen and (max-width: $tablet)
        grid-template-columns: auto

        #landing-wrapper
            display: none

    #intro-wrapper, #landing-wrapper
        align-self: center

    #home-page-work-button
        margin: 0

    #home-image
        max-height: 500px
        // filter: invert(99%) sepia(62%) saturate(335%) hue-rotate(28deg) brightness(105%) contrast(109%)
        // filter: invert(43%) sepia(57%) saturate(460%) hue-rotate(44deg) brightness(98%) contrast(90%)

    #welcome-msg, #short-intro
        margin: 0.2em 0
    
    #short-intro
        margin-bottom: 1em

        