#home-page-wrapper
    display: grid
    grid-template-columns: 30% 1fr

    #intro-wrapper, #landing-wrapper
        align-self: center

    #home-page-work-button
        margin: 1em

    #home-image
        max-height: 500px