#home-page-wrapper
    display: grid
    grid-template-columns: 30% 1fr

    @media screen and (max-width: $tablet)
        grid-template-columns: auto

        #landing-wrapper
            display: none

    #intro-wrapper, #landing-wrapper
        display: grid
        align-self: center
        grid-row: 1
    
    #intro-wrapper
        grid-column: 1
    
    #landing-wrapper
        grid-column: 2

        #home-image
            display: grid
            position: absolute
            max-height: 90vmin
            max-width: 70vmin
            transform: matrix(-1, 0, 0, 1, 80, 20)
            bottom: 0
            right: 0

    #home-page-work-button
        margin: 0
        justify-self: center

    #welcome-msg, #short-intro
        margin: 0.2em 0
    
    #short-intro
        margin-bottom: 1em

        