#work-page-wrapper
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 2em
    grid-column-gap: 1em
    margin: 0 1.5em 1.5em 1.5em

    // MOBILE PORTRAIT ONLY
    @media screen and (max-width: $tablet) and (orientation: portrait)
        grid-row-gap: 1em
        margin: 0

    // MOBILE LANDSCAPE ONLY
    @media screen and (orientation: landscape)
        grid-row-gap: 1em
        // margin: 0 1.5em 1.5em 1.5em

    // TABLET
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) and (min-height: $tablet)
        grid-template-columns: 1fr 1fr

    // DESKTOP
    @media screen and (min-width: $desktop) and (max-width: $widescreen - 1)
        grid-template-columns: repeat(3, 1fr)

    // WIDESCREEN (LG DESKTOP, LG TABLET)
    @media screen and (min-width: $widescreen)
        grid-template-columns: repeat(3, 1fr)

    // LARGE LANDSCAPE
    @media screen and (max-height: $landscapeHeight) and (min-width: $tabletL) and (orientation: landscape)
        grid-template-columns: 1fr 1fr