@import './partials/_vars.sass'
// @import './partials/_dev.sass'

@import './partials/button.sass'
@import './partials/layout.sass'
@import './partials/pageName.sass'
@import './partials/header.sass'
@import './partials/nav.sass'
@import './partials/content.sass'
@import './partials/project.sass'
@import './partials/certificate.sass'
@import './partials/education.sass'
@import './partials/passion.sass'

@import './pages/error.sass'
@import './pages/home.sass'
@import './pages/cv.sass'
@import './pages/contact.sass'
@import './pages/work.sass'
@import './pages/about.sass'

body
  height: 100vh
  width: 100vw
  margin: 0
  padding: 0
  background: $colorBlackBgAlt
  color: $colorText
  font-family: "Saira Condensed", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.App
  display: block
  text-align: center
  height: 100vh
  width: 100vw
  font-size: $fontSizeMain